@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'MyCustomFont';
    src: url('/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  .bg-gradient-custom {
    background: linear-gradient(to right,#B16D40, #000000 70%);
  }
  .bg-Respons-costum {
    background: linear-gradient(167.98deg, #B16D40 0%, #4C2F1B 47.92%, #000000 100%);
  }
@layer utilities{
  .center-flex{
    @apply flex justify-center items-center
  }
  .class-input{
    @apply w-full py-3 px-4 text-[1.3rem] rounded-[15px]
  }
  .error-message{
   @apply p-2 text-red-500 font-semibold
  }
  body{
    @apply bg-neutral-900
  }

}
